<article class="bio @@bio">
    <img src="@@photo" alt="@@photoalt" class="bio__photo">
    <div class="bio__container">
        <h4 class="bio__name">@@name</h4>
        <p class="bio__about">@@content</p>
        <ul class="bio__social">
            <li class="bio__social--media"><a class="bio__social--link" href="@@linkedin" target="_blank"><i
                        class="fab fa-linkedin-in"></i>
                </a></li>
            <li class="bio__social--dot">·</li>
            <li class="bio__social--media"><a class="bio__social--link" href="@@github" target="_blank"><i
                        class="fab fa-github-alt"></i>
                </a></li>
            <li class="bio__social--dot">·</li>
            <li class="bio__social--media"><a class="bio__social--link" href="@@mail" target="_blank"><i
                        class="fas fa-envelope"></i>
                </a></li>
        </ul>
    </div>
</article>