<footer class="grayline">
  <div class="wrapper">
    <div class="footer">
      <small class="footer__copyright">Project #L0V3lace &copy; 2022</small>
      <!--dar clase grid-->
      <nav class="footer__nav">
        <!--dar clase grid-->
        <ul class="footer__nav--menu">
          <li>
            <a class="footer__nav--link" href="./index.html#team">equipo</a>
          </li>
          <li>
            <a class="footer__nav--link" href="./index.html#seccion-quienes-somos">quiénes somos</a>
          </li>
          <li>
            <a class="footer__nav--link" href="./contact.html" target="_blank">contacto</a>
          </li>
        </ul>
      </nav>
      <a class="footer__icon" href="https://adalab.es" target="_blank">
        <!--dar clase grid-->

        <img class="footer__adalab" src="./assets/images/logorosa.png" alt="logo de adalab"
          title="Ir a página Adalab" />
      </a>
    </div>
  </div>
</footer>