<header>
  <div class="cont_header">
    <div class="name">
      <h1 class="name__title">Project #L0v3lace</h1>
    </div>
    <nav class="menutop">
      <ul class="list">
        <li class="list__item">
          <a class="list__item--link" href="./index.html#team">Equipo</a>
        </li>
        <li class="list__item">
          <a class="list__item--link" href="./index.html#seccion-quienes-somos">Quiénes somos</a>
        </li>
        <li class="list__item">
          <a class="list__item--link" href="./contact.html" target="_blank">Contacto</a>
        </li>
      </ul>
    </nav>
  </div>
</header>