<!-- Hero -->
<include src="./hero.html" heroimg="hero" heromotto="motto"></include>

<div class="teamcontainer">
    <section id="team" class="team">
        <h2 class="team__title">EQUIPO</h2>
        <article class="team__title--article1">
            <p>Dada nuestra experiencia previa, en diferentes sectores, podemos ofrecer un punto de vista muy diferente
                al que podrían ofrecer otros equipos que solo se han dedicado al tech. Gracias al conocimiento del trato
                cara al público y las nociones de diseño, beneficioso en el momento del trato con el cliente y el diseño
                web.</p>
        </article>
    </section>
    <div class="squarecontainer">
        <div class="squarecontainer__square"></div>
    </div>

    <section class="dafo">
        <article class="dafo__article2">
            <h3 class="dafo__article2--strengths">Fortalezas</h3>
            <p>La empatía es un rasgo común en nuestro equipo, esto nos ha ayudado a realizar un reparto lógico de
                tareas.
                Siempre dispuestas a ampliar nuestro conocimiento de nuevas herramientas, consiguiendo así mejorar los
                procesos de trabajo y logar aliviar
                la carga
                de tareas pendientes.</p>
        </article>

        <article class="dafo__article3">
            <h3 class="dafo__article3--weaknesses">Debilidades</h3>
            <p>Somos conscientes de que aun nos falta conocimiento del mundo de la programación y tenemos poca
                experiencia en hacer
                proyectos cien
                por
                cien en remoto, añadiendo a que estos deben ser en equipo. Pero lo solventamos con muchas ganas de
                aprender y esfuerzo.</p>
        </article>
    </section>
</div>